
/*__________INDEX___________*/

body.page-index{
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 90vw;
    background-image: url(../import/couv.jpg);
    background-size: cover;
    background-position: center 0px; 
    background-repeat: no-repeat;
}


html{
	scroll-behavior: smooth;
}


header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  position: fixed;
  top: 10;
  left: 0;
  z-index: 1;
  background-color: white;
}

body.page-index header,
body.page-contact header {
  background-color: transparent;
}

h1 {
  font: 5em "WindSong", serif;
  letter-spacing: 0.7px;
  position: fixed; 
  right: 160px; 
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-style: italic;
}

h1 a {
  text-decoration: none;
  color: #212f3f;
}

h2 {
  font: 0.9em "Archivo", serif;
  letter-spacing: 0.7px;
  transform: translateY(-50%);
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-right: 10px;
  color: #212f3f;
}

h2 a {
  text-decoration: none;
  color: #212f3f;
}


.nav-toggler {
  height: 50px;
  width: 38px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  padding-top: 8px;
  margin-right: 20px;
}

.line {
  display: block;
  width: 100%;
  height: 1.7px;
  background-color: #212f3f;
  transition: transform 0.2s ease-out, opacity 0.1s ease-out;
  margin: 0.2px;
  z-index: 33;

}


.l1{
   transform: translateY(-8px);
}

.l3{
   transform: translateY(8px);
}

.nav-toggler.active .l1{
   transform: translateY(4px) rotate(-45deg);
}

.nav-toggler.active .l2{
   opacity: 0;
}

.nav-toggler.active .l3{
   transform: translateY(0px) rotate(45deg);
}


nav{
   position: fixed;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:  column;
   transform: translateY(-100%); 
   transition: transform 0.5s cubic-bezier(.52,.33,.51,.67);
   background-color: white;
   z-index: 1;

}


nav.active{
   transform: translate(0);

}

nav a{
   font-family: "Archivo";
   font-weight: 60;
   color: black;
   font-size: 1.7em;
   display: block;
   margin: 25px 0;
   text-decoration: none;
}

nav a:hover {
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

}

#contact {
    position: absolute; 
    bottom: 20px; 
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px; 
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s ease 0.5s;
    pointer-events: none;
}

#contact a {
    font-size: 1.1em;
    font-family: 'Archivo';
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

#contact a:hover {
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.5px;
}

nav.active #contact {
    opacity: 1;
    pointer-events: all;
}

body:has(nav.active) h1 {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

h1 {
    transition: opacity 0.3s ease;
}

body:has(nav.active) h2 {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

h2 {
    transition: opacity 0.3s ease;
}











/*_____________CONTACT_______________*/

body.page-contact{
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 90vw;
    background-image: url(../import/couv.jpg);
    background-size: cover;
    background-position: center 0px; 
    background-repeat: no-repeat;
}


h1.page-contact {
  font: 5em "WindSong", serif;
  letter-spacing: 0.7px;
  position: fixed; 
  right: 160px; 
  top: 30%;
  transform: translateY(-50%);
  margin: 0;
  font-style: italic;
}

h1.page-contact a {
  text-decoration: none;
  color: #212f3f;
}

body:has(nav.active) h1.page-contact {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

h1.page-contact {
    transition: opacity 0.4s ease;
}
#about {
    position: fixed;
    top: 33%;
    right: 98px;
    width: 45vw;
    max-width: 80vw;
    font-size: 1em;
    font-family: "Archivo", sans-serif;
    line-height: 1.5em;
    color: #212f3f;
    padding: 20px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.4s ease;
    font-size: 1em;
}

body:has(nav.active) #about {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

#liens{
    text-decoration: none;
    display: flex;
    gap: 30px; 
    align-items: center;
}

#liens a {
    font-size: 1em;
    font-family: 'Archivo';
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}


#liens a:hover {
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 0.5px;
}

#auteur{
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-family: 'Archivo', sans-serif;
    font-size: 0.8em;
    color: #212f3f;
    z-index: 10;
}










/*______________ENSEMBLE DES PROJETS______________*/

body.page-photos{
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 90vw;
    background-image: none;

}

#projets {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    grid-template-rows: repeat(3, 1fr); /* 3 lignes égales */
    gap: 15px; /* Espace entre les éléments de la grille */
    padding-top: 55px;
    width: 100vw;
}

.rectangle {
    overflow: hidden; 
}

.rectangle img {
    width: 100%; /* L'image prendra la largeur du conteneur */
    height: auto; /* La hauteur sera ajustée proportionnellement */
    display: block; /* Retirer les espaces sous l'image */
}

.rectangle img:hover {
    filter: grayscale(100%);

}

h1.titre-projet {
  font: 1.7em "WindSong", serif;
  letter-spacing: 0.7px;
  font-style: italic;
  position: absolute;
  top: 0;
  padding-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #212f3f;
  text-align: center;
  background-color: transparent;
}



.img-container {
    position: relative;
    overflow: hidden; /* pour éviter que le texte déborde */
}

.img-container h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.7em;
    font-family: "Archivo", serif;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    opacity: 0; /* caché par défaut */
    transition: opacity 0.2s ease-in-out; /* transition douce */
    pointer-events: none;
    width: 100%;
}

.img-container:hover h3 {
    opacity: 1; /* devient visible au survol */
    color: white;
    width: 100%;
}

.timbre-title {
    color: black;
}

.img-container:hover .timbre-title {
    color: black;
}


.jpo-title {
    color: black;
}

.img-container:hover .jpo-title {
    color: black;
}

/*______________PRESENTATION PROJETS______________*/

/* Texte fixe à gauche */
#infos {
  width: 28vw;
  height: 100%;
  position: fixed;
  top: 52px;
  left: 20px;


  overflow-y: scroll;
  font-size: 0.9em;
  line-height: 1.5em;
  font-family: "archivo";
}

#conteneur_proj {
  margin-left: 31vw;
  padding-top: 58px;
  width: 67vw;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  gap: 20px;
  background-color: white;
}


/* Articles / images */
#conteneur_proj article {
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

#conteneur_proj article figure {
  height: 100%;
  object-fit: cover;
}

#conteneur_proj article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Disposition en grille */
.portrait {
  grid-column: span 6;
}

.paysage {
  grid-column: span 12;
}

h4 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.7em;
  margin-bottom: 10px;
  font-weight: 700;
}

h5 {
  font-family: 'Archivo', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

#infos h4 {
  margin-bottom: 0em;
  font-weight: 600;
}



.paysage.fullscreen {
    grid-column: span 12;
}

.fullscreen-image {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
}

.fullscreen-image.fullscreen {
  display: flex;
}

.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}


.close-fullscreen {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  z-index: 5;
}


.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}


#clara{
    color: black;
}














