body{
	background-color: black;
}

header{
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);

}

h1{
	font-family: monaco;
	font-size: 2em;
	flex: 1;
  	text-align: center; 
  	color: white;
}

div{
	margin-top: 53px;
}

article {
  position: relative;
  display: inline-block;
}

img{
	width: 100vw;
}

figcaption {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  transition: 0.8s ease;
  opacity: 0;

  font-family: monaco;
  font-size: 1.3em;
}

article:hover figcaption{
	opacity: 1;
}









